<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <br>    
    </div>
    
    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item>
        <ion-label floating>
            <ion-icon class="fas fa-user" item-start></ion-icon>             
                 Usuário
        </ion-label>
        <ion-input type="text" value="paulo" formControlName="login"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('login').touched && onLoginForm.get('login').hasError('required')">Favor preencher o usuário</p>

      <ion-item>
        <ion-label floating>
        
          <ion-icon class="fas fa-unlock" item-start></ion-icon> 
          Senha
        </ion-label>
        <ion-input   value="paulo" type="password" formControlName="senha"></ion-input>
        
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('senha').touched && onLoginForm.get('senha').hasError('required')">Favor preencher a senha</p>
    </form>

   

    <div>
      <button ion-button icon-start block color="dark" tappable (click)="login()" [disabled]="!onLoginForm.valid">
        <ion-icon name="log-in"></ion-icon>
        Entrar
      </button>
    </div>

    <p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Esqueceu a senha?</strong></p>

  </div>
</ion-content>
