<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalhe Historico de Intimação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class=" common-bg">
  <div id="map_three">
  </div>
 

  <ion-grid fixed>
    <ion-row>
      <ion-col col-12>
        <!--high light-->
        <div class="border-bottom" padding>
          <h5 ion-text color="dark" class="bold">Devedor</h5>
          <h5 no-margin ion-text color="primary" class="bold">Nome Empresarial</h5>
          <span ion-text>{{ historicoIntimacao.dadosDevedor.nome_empresarial }}</span>
          <h5 no-margin ion-text color="primary" class="bold">Nome Fantasia</h5>
          <span ion-text>{{ historicoIntimacao.dadosDevedor.nome_fantasia }}</span>
          <h5 no-margin ion-text color="primary" class="bold">Documento</h5>
          <span ion-text>{{ historicoIntimacao.dadosDevedor.numero_documento }}</span>
          <hr>          
          <h5 ion-text color="dark" class="bold">Intimações</h5>
          <div class="border-bottom" padding>
            <h5 no-margin ion-text color="primary" class="bold">Diligente</h5>
            <span ion-text>{{ dadosIntimacao.nomeDiligenteIntimacao }}</span>
            <h5 no-margin ion-text color="primary" class="bold">Data de Entrega Última Intimação</h5>
            <span ion-text>{{ dadosIntimacao.dtUltimaEntregaIntimacao }}</span>
            <h5 no-margin ion-text color="primary" class="bold">Protocolo</h5>
            <span ion-text>{{ dadosIntimacao.numero_protocolo }}</span>
            <h5 no-margin ion-text color="primary" class="bold">Última Diligência</h5>
            <span ion-text>{{ dadosIntimacao.nomeUltimoTipoDiligencia }}</span>
            <h5 no-margin ion-text color="primary" class="bold">Endereço de Entrega</h5>
            <span ion-text>{{ dadosIntimacao.enderecoCompleto }}</span>
            <hr>
            <div class="border-bottom" *ngFor="let baixa of dadosIntimacao.dadosBaixa" padding>
              <h5 ion-text color="dark" class="bold">Baixas</h5>
              <h5 no-margin ion-text color="primary" class="bold">Data de Entrega</h5>
              <span ion-text>{{ baixa.dataEntregaBaixa }}</span>
              <h5 no-margin ion-text color="primary" class="bold">Tipo Diligência</h5>
              <span ion-text>{{ baixa.nomeTipoDiligenciaBaixa }}</span>
              <h5 no-margin ion-text color="primary" class="bold">Motivo de Entrega</h5>
              <span ion-text>{{ baixa.nomeMotivoEntregaBaixa }}</span>
              <h5 no-margin ion-text color="primary" class="bold">Observação</h5>
              <span ion-text>{{ baixa.observacao }}</span>
              <ion-item *ngIf="baixa.dadosPreBaixa != null && baixa.dadosPreBaixa.imagens.length > 0">
                <ion-grid>
                  <ion-row wrap>
                    <ion-col col-3 *ngFor="let imagem  of baixa.dadosPreBaixa.imagens" (tap)="abrirImagem(imagem)">
                      <ion-thumbnail>
                        <img  [src]="imagem">
                      </ion-thumbnail>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>          
           </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
